@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");
@import 'https://assets.codepen.io/3351103/simple-clamp.scss';

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// $font-family-sans-serif-2: 'Poppins', sans-serif;
// $font-family-serif: 'Source Serif Pro', serif;
$color-blue: #006aff;
$box-shadow: 0px 0px 7px 0px #808080;
$height: calc(100vh - 76.79px);


* {
	width: 100%;
	margin: 0;
	padding: 0;
  }	


body {
	// font-family: $font-family-sans-serif;
	font-family: "Walter Turncoat", cursive;
	background-color: lighten(#efefef, 5%);
	font-weight: 300;
}
// .navbar{
// 	display: flex;
// 	&-brand{
// 		width: fit-content;
// 	}
// 	&-toggler{
// 		width: fit-content;
// 	}
// 	&-collapse{
// 		.navbar-nav{
// 			justify-content: end;
// 			.nav-item{
// 				width: 100px;
// 			}
// 		}
// 	}
// }

.header {
	.nav-container {
	  padding: 0 1rem;
	  margin: 0 auto;
	  max-width: 68rem;
	  width: 100%;
	  // position: absolute;
	  background-color: white;
	}
  
	.nav-logo {
	  width: fit-content;
	  a {
		text-decoration: none;
	  }
	}
	.nav-menu {
	  max-width: fit-content;
	  position: relative;
	  top: 9px;
	}
	.nav-menu__item {
	  width: fit-content;
  
	  li a {
		text-decoration: none;
	  }
	}
  }


p {
	color: darken(#ccc, 10%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	// font-family: $font-family-sans-serif;
	font-family: "Walter Turncoat", cursive;
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}

h2 {
	font-size: 20px;
}

body {
	position: relative;
	&:before {
		position: absolute;
		content: "";
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($black, 0);
		opacity: 0;
		visibility: hidden;
		transition: .3s all ease-in-out;
	}
	&.show-sidebar {
		overflow: hidden;
		&:before {
			opacity: 1;
			visibility: visible;
		}	
	}
}
.site-section{
	height: $height;
}

aside, main {
	height: $height;
	min-height: 580px;
}
aside {
	height: $height;
	width: 380px;
	right: 0;
	z-index: 1001;
	position: fixed;
	transform: translateX(100%);
	color: #fff;
	// background-color: #3f2ef8;
	transition: 1s transform cubic-bezier(.23,1,.32,1);
	.show-sidebar & {
		transform: translateX(0%);
	}
	.toggle {
		padding-right: 30px;
		padding-top: 20px;
		position: absolute;
		width: fit-content;
		left: 0;
		transform: translateX(-100%);
			.burger:before, .burger span, .burger:after {
				background-image: url("../assets/chalk-burger.png");
				background-color: transparent;
				background-size: 100% 100%;
				height: 3px;
			}
	}
	.show-sidebar & {
		box-shadow: 10px 0 30px 0 rgba(#000, .1);
	}
	.side-inner {
		padding: 20px 0;
		// height: 100vh;
		height: calc(100vh - 56px);
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		
		background-image: url("https://assets.codepen.io/3351103/black-board.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		.container{
			
			.row{
				.col-sm-3{
					.block {
						background-image: url("../assets/block/chalk-block-grey.png");
						background-color: transparent;
						background-size: 100% 100%;
						cursor: pointer;
						margin-inline: auto;
						font-family: "Walter Turncoat", cursive;
						width: 100%;
						padding: 14%;
						font-size: 25px;
						font-weight: bold;
						color: rgb(255, 255, 255);
						transition: all 0.1s;
						&:hover{
							background-image: url("../assets/block/chalk-block-grey-hover.png");
						}
					  }
					  .attempted {
						background-image: url("../assets/block/chalk-block-green.png");
						// background-image: url("../assets/block/chalk-block-grey.png"),green;
						background-blend-mode: color;
						background-color: green;
						background-color: transparent;
						background-size: 100% 100%;
						&:hover{
							background-image: url("../assets/block/chalk-block-green-hover.png");
						}
					  }
					  .unattempted {
						background-image: url("../assets/block/chalk-block-red.png");
						background-color: transparent;
						background-size: 100% 100%;
						&:hover{
							background-image: url("../assets/block/chalk-block-red-hover.png");
						}
					  }
					  .review {
						background-image: url("../assets/block/chalk-block-purple.png");
						background-color: transparent;
						background-size: 100% 100%;
						&:hover{
							background-image: url("../assets/block/chalk-block-purple-hover.png");
						}
					  }
					  .overlay{
						background-color: green;
						width: 100%;
						position: absolute;
					  }
					}
			}
		}
	}
}
main {
	width: calc(100%);
	transition: 1s transform cubic-bezier(.23,1,.32,1);
	.show-sidebar & {
		transform: translateX(-380px);
	}
	.post-entry {
		margin-bottom: 30px;
		.custom-thumbnail {
			flex: 0 0 80px;
			margin-right: 30px;
		}
	}
	.post-content {
		h3 {
			font-size: 18px;
		}
		.post-meta {
			font-size: 15px;
			color: #ccc;
		}
	}
	.site-section{
		height: $height;
		padding: 0px;
		// background-color: $color-blue;
		background-color: darkslategray;
		// background-image: url("../assets/blurBG.png");
		background-image: url("https://assets.codepen.io/3351103/black-board.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		.container{
			.quiz {
				.btnPanel{
				  width: 100%;
				  // position: absolute;
				  // left: 50%;
				  .burger{
					width: 50px;
					padding: 10px;
					position: absolute;
					top: 197px;
				// 	background: linear-gradient(
				// 	135deg,
				// 	rgba(255, 255, 255, 0.1),
				// 	rgba(255, 255, 255, 0)
				//   );
				//   backdrop-filter: blur(10px);
				//   -webkit-backdrop-filter: blur(10px);
				//   border: 1px solid rgba(255, 255, 255, 0.18);
				//   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
				//   border-radius: 5px;
				// background-image: url('https://assets.codepen.io/3351103/chalk-outline.png');
				
				  cursor: pointer;
					div{
					  background-color: rgba(255,255,255,.815);
					  border-radius: 2px;
					  margin-top: 3px;
					  padding: 2px;
					  height: 2px;
					}
				  }
				  .visibility{
					visibility: hidden;
				  }
				}
				.score{
				  color: rgb(255, 255, 255);
				  font-weight: 600;
				  font-size: 30px;
				  font-family: "Walter Turncoat", cursive;
				  // position: absolute;
				}
				.hint{
				  width: 100%;
				  z-index: 100;
				  img{
					width: 50px;
				// 	background: linear-gradient(
				// 	135deg,
				// 	rgba(255, 255, 255, 0.1),
				// 	rgba(255, 255, 255, 0)
				//   );
				//   backdrop-filter: blur(10px);
				//   -webkit-backdrop-filter: blur(10px);
				//   border: 1px solid rgba(255, 255, 255, 0.18);
				//   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
				//   border-radius: 5px;
				// background-image: url('https://assets.codepen.io/3351103/chalk-outline.png');
				background-image: url("../assets/bulb/chalk-bulb.png");
				background-color: transparent;
				background-size: 100% 100%;
				transition: all 0.1s;
				  cursor: pointer;
				  &:hover{
					background-image: url("../assets/bulb/chalk-bulb-glow.png");
				  }
				  }
				}
				.timer{
				  width: 100%;
				  margin-bottom: 30px;
				  
				  .card{
					text-align: center;
					width: fit-content;
					padding: 15px;
					font-size: 20px;
					color: white;
					font-weight: bolder;
					background-image: url('https://assets.codepen.io/3351103/chalk-outline.png');
				background-color: transparent;
				background-size: 100% 100%;
					// display: flex;
					// flex-direction: row;
					p{
					  margin-bottom: 0;
					  color: white;
					  font-weight: bold;
					  font-family: 'Walter Turncoat'
					}
					.time{
					  display: flex;
					  flex-direction: row;
					  font-size: 30px;
					}
				  }
				}
				.card {
				//   background: linear-gradient(
				// 	135deg,
				// 	rgba(255, 255, 255, 0.1),
				// 	rgba(255, 255, 255, 0)
				//   );
				//   backdrop-filter: blur(10px);
				//   -webkit-backdrop-filter: blur(10px);
				//   border: 1px solid rgba(255, 255, 255, 0.18);
				//   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
				background-image: url("../assets/chalk-long.png");
				background-color: transparent;
				background-size: 100% 100%;
				  .card-body {
					font-size: large;
					font-weight: normal;
					color: white;
					padding-top: 30px;
					padding-bottom: 30px;
					font-family: 'Walter Turncoat';
					img {
					  width: 20%;
					}
				  }
				}
				.input {
				  input {
					// box-shadow: $box-shadow;
					// background: linear-gradient(
					//   135deg,
					//   rgba(255, 255, 255, 0.1),
					//   rgba(255, 255, 255, 0)
					// );
					// backdrop-filter: blur(10px);
					// -webkit-backdrop-filter: blur(10px);
					// border: 1px solid rgba(255, 255, 255, 0.18);
					// box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
					background-image: url("../assets/chalk-long-input.png");
					background-color: transparent;
					background-size: 100% 102%;
					color: white;
					border: none;
					font-family: 'Walter Turncoat';
					&:focus {
					  box-shadow: 0px 0px 7px 0px $color-blue;
					}
					
				  }
				  input::placeholder{
					color: rgba(255, 255, 255, 0.826);
					font-family: 'Walter Turncoat';
				  }
				  .buttons {
					justify-content: center;
					$btn-width: 200px;
					$btn-padding: 10px;
					$bg-color: white;
					$border-radius: 10px;
					$btn-border: 0px;
					.submit {
					  width: $btn-width;
					  button {
						padding: $btn-padding;
						background-color: $bg-color;
						font-family: 'Walter Turncoat';
						// border-radius: $border-radius;
						// box-shadow: $box-shadow;
						// border: $btn-border;
						// background: linear-gradient(
						//   135deg,
						//   rgba(255, 255, 255, 0.1),
						//   rgba(255, 255, 255, 0)
						// );
						// backdrop-filter: blur(10px);
						// -webkit-backdrop-filter: blur(10px);
						// border: 1px solid rgba(255, 255, 255, 0.18);
						// box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
						background-image: url("../assets/chalk-button.png");
						background-color: transparent;
						background-size: 100% 102%;
						color: white;
						&:hover {
						//   color: $color-blue;
						  box-shadow: 0px 0px 7px 0px $color-blue;
						}
						&:focus{
							color: $color-blue;
							border: 0px;
						}
					  }
					}
					.review {
					  width: $btn-width;
					  button {
						padding: $btn-padding;
						background-color: $bg-color;
						font-family: 'Walter Turncoat';
						// border-radius: $border-radius;
						// box-shadow: $box-shadow;
						// border: $btn-border;
						// background: linear-gradient(
						//   135deg,
						//   rgba(255, 255, 255, 0.1),
						//   rgba(255, 255, 255, 0)
						// );
						// backdrop-filter: blur(10px);
						// -webkit-backdrop-filter: blur(10px);
						// border: 1px solid rgba(255, 255, 255, 0.18);
						// box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
						// color: white;
						background-image: url("../assets/chalk-button.png");
						background-color: transparent;
						background-size: 100% 102%;
						color: white;
						&:hover {
						//   color: $color-blue;
						  box-shadow: 0px 0px 7px 0px $color-blue;
						}
					  }
					}
				  }
				}
			  }
		}
	}
}


/* Burger */
.burger {
	width: 28px;
	height: 32px;
	cursor: pointer;
	position: relative;
	z-index: 99;
	float: right;
}
.burger:before, .burger span, .burger:after {
	width: 100%;
	height: 2px;
	display: block;
	background: #000;
	border-radius: 2px;
	position: absolute;
	opacity: 1;
}

.burger:before, .burger:after {
    transition: top .35s cubic-bezier(.23,1,.32,1),transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	-webkit-transition: top .35s cubic-bezier(.23,1,.32,1),-webkit-transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	content: "";
}
.burger:before {
	top: 4px;
}
.burger span {
	top: 15px;
}
.burger:after {
	top: 26px;
}
/* Hover */
.burger:hover:before {
	top: 7px;
}
.burger:hover:after {
	top: 23px;
}

/* Click */
.burger.active span {
	opacity: 0;
}
.burger.active:before, .burger.active:after {
	top: 40%;
}
.burger.active:before {
	-webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
}
.burger.active:after {
	-webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5); /*for IE*/
}
.burger:focus {
	outline: none;
}

@media only screen and (max-width: 576px){
	aside{
		width: 300px;
		.side-inner{
			.container{
				.row{
					.col-3{
						.block{
							width: 148%;
							padding: 9%;
							font-size: 33px;
						}
					}
				}
			}
		}
	}
	
}
@media only screen and (max-width:600px){
	// $height-resp: calc(100vh - 100.47px);
	$height-resp: $height;

	aside{
		height: $height-resp;
		.toggle{
			// padding-top: 80px;
		}
	}
	main{
		height: $height-resp;
		.site-section{
			height: $height-resp;
			.container{
				.px-5{
					padding-top: 5rem;
					padding-left: 1rem !important;
					padding-right: 1rem !important;
				}
			}
		}
	}
}
@media only screen and (max-width:450px){
	main{
		.site-section{
			.container{
				// margin-top: 5rem;
				.quiz{
					.score{
						font-size: 20px;
					}
					.timer{
						.card{
							padding: 5px;
							font-size: 15px;
							.time{
								p{
									font-size: 20px;
								}
							}
						}
					}
					.card{
						.card-body{
							padding-top: 20px;
							padding-bottom: 20px;
						}
					}
					.input{
						.buttons{
							.mx-2{
								button{
									padding: 8px;
									font-size: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}

// 
// 

